{% extends "base.html" %}
{% load happenings_tags %}

{% block sidebar %}
{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
<div class="rowOfBoxes">
   <!--div class="twoThirds noBorderOnLeft"-->
   <div class="noBorderOnLeft">
      <h1>Welcome to Radial Blur!</h1>
   </div>
</div>

<div class="rowOfBoxes dividingBorderAbove">

   <div class="quarter noBorderOnLeft">
      <h1>Players</h1>
      <p>
      There's currently <strong>{{num_players_connected}}</strong> connected out of a total of <strong>{{num_players_registered}}</strong> players registered. Of these, <strong>{{num_players_registered_recent}}</strong> were created this week, and <strong>{{num_players_connected_recent}}</strong> have connected within the last seven days.
      </p>
   </div>

   <div class="quarter">
      <h1>Recently Connected</h1>
      <ul>
      {% for player in players_connected_recent %}
      <li>{{player.username}} -- <em>{{player.last_login|timesince}} ago</em></li>
      {% endfor %}
      </ul>
      <p class="filler"><!-- Filler para to extend left vertical line --></p>
   </div>

   <div class="quarter">
      <h1>Database Stats</h1>
      <ul>
      <li>{{num_players_registered}} players (+ {{num_characters}} characters)</li>
      <li>{{num_rooms}} rooms (+ {{num_exits}} exits)</li>
      <li>{{num_others}} other objects</li>

      </ul>
   </div>

   <div class="quarter">
      {% upcoming_events %}
   </div>

</div>
{% endblock %}