{% extends 'happenings/middle.html' %}
{% load staticfiles i18n %}

{% block content %}
    <nav>
    <div class="nav-wrapper z-depth-2">
      <a href="#" class="brand-logo right">Today is {% now "SHORT_DATE_FORMAT" %}</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="http://radialblur.vertinext.com">Home ></a></li>
        <li><a href="http://radialblur.vertinext.com/Calendar">Calendar ></a></li>
        <li><a href="{{ request.get_full_path }}">This Event</a></li>
      </ul>
    </div>
    </nav>


    <div class="container valign-wrapper z-depth-1">
        <div class="col s12">
            <div class="card-panel hoverable">
                <h1>{{ event.title }}</h1>
                <blockquote>{{ event.description }}<br />
                {% if event.start_end_diff %}
                    <div class="chip">
                        {% blocktrans with event_duration_days=event.start_end_diff %}{{ event_duration_days }} days{% endblocktrans %}
                    </div>
                {% else %}
                    <div class="chip">
                        1 day
                    </div>
                {% endif %}
                {% if this_cncl %}
                    <div class="chip">
                        Cancelled
                    </div>
                {% endif %}
                </blockquote>

                {% if next_event %}
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Duration Details</h4></li>
                    <li class="collection-item"><div>{{ event.start_date|time }}</div><a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a></li>
                    <li class="collection-item"><div>{{ event.end_date|time }}</div><a href="#!" class="secondary-content"><i class="material-icons">stop</i></a></li>
                </ul>
                <br />
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Next Event</h4>{% blocktrans with repeat_lower=repeat|lower %}<span class="new badge">{{repeat_lower}} Events</span>{% endblocktrans %}</li>
                    <li class="collection-item"><div>{{ next_event|date:"SHORT_DATE_FORMAT" }}</div>{% if next_or_prev_cncl %}<a href="#!" class="secondary-content"><i class="material-icons">cancel</i></a>{% endif %}</li>
                </ul>
                {% elif last_event %}
                <ul class="collection with-header">
                    <li class="collection-header">{% blocktrans with repeat_lower=repeat|lower %}<h4>Event Series Ended</h4><span class="badge">{{repeat_lower}} Events</span>{% endblocktrans %}</li>
                    <li class="collection-item">{% blocktrans with last_event_date=last_event|date:"SHORT_DATE_FORMAT" %}<div>{{ last_event_date }}</div>{% endblocktrans %}{% if next_or_prev_cncl %}<a href="#!" class="secondary-content"><i class="material-icons">cancel</i></a>{% endif %}</li>
                </ul>
                {% else %}
                <ul class="collection with-header">
                    {% if event_days %}
                        <li class="collection-header"><h4>Event Dates</h4></li>
                        {% for e in event_days %}
                        <li class="collection-item"><div>{{ e|date:"SHORT_DATE_FORMAT" }}&nbsp;&#64;&nbsp;{{ event.end_date|time }}{% for c in event.cancellations.all %}{% if c.date == e.date %}<a href="#!" class="secondary-content"><i class="material-icons">cancel</i></a>{% endif %}{% endfor %}</div></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <li class="collection-header"><h4>Event Details</h4></li>
                        <li class="collection-item">{{ event.start_date|date:"SHORT_DATE_FORMAT" }}&nbsp;&#64;&nbsp;{{ event.end_date|time }}</li>
                        </ul>
                    {% endif %}
                {% endif %}

                {% if event.location.all %}
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Locations</h4></li>
                {% for l in event.location.all %}
                    <li class="collection-item">
                        <span class="title">{{ l.name }}</span>
                        {% if l.address_line_1 %}<p>{{ l.address_line_1 }}</p>{% endif %}
                        {% if l.address_line_2 %}<p>{{ l.address_line_2 }}</p>{% endif %}
                        {% if l.address_line_3 %}{{ l.address_line_3 }}</p>{% endif %}
                        <p>{% if l.city %}{{ l.city }}{% endif %}{% if l.state %},&nbsp;{{ l.state }}{% endif %}</p>
                        <p>{% if l.zipcode %}{{ l.zipcode }}</p>{% endif %}
                        <p>{% if l.country %}{{ l.country }}</p>{% endif %}
                {% endfor %}
                </ul>
                {% endif %}


                {% if event.categories.all %}
                    <ul class="collection with-header">
                    <li class="collection-header"><h4>Categories</h4></li>
                    <li class="collection-item">
                        {% for category in event.categories.all %}
                        <div class="chip">{{ category.title }}</div>
                        {% endfor %}
                    </li>
                    </ul>
                {% endif %}

                {% if event.tags.all %}
                    <ul class="collection with-header">
                    {% blocktrans count counter=event.tags.all.count %}Tag:{% plural %}Tags:{% endblocktrans %}
                    <li class="collection-header"><h4>Tags</h4></li>
                    <li class="collection-item">
                        {% for tag in event.tags.all %}
                        <div class="chip">{{ tag.name }}</div>
                        {% endfor %}
                    </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
        
{% endblock content %}